:root {
  --line-col: #69B3A2;
  --entry-col: transparent;
}


.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: var(--line-col);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.timecontainer {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.timecontainer.left {
  left: 0;
}

.timecontainer.right {
  left: 50%;
}

.timecontainer::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: var(--line-col);
  border: 2px solid var(--line-col);
  border-radius: 16px;
  z-index: 1;
}

.timecontainer.right::after {
  left: -8px;
}

.timecontainer::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: var(--line-col);
  z-index: 1;
}

.timecontainer.right::before {
  left: 8px;
}

.timecontainer .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--line-col);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.timecontainer.left .date {
  right: -100px;
}

.timecontainer.right .date {
  left: -100px;
}

.timecontainer .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: var(--entry-col);
  border: 2px solid var(--line-col);
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: var(--line-col);
  z-index: 1;
}

.timecontainer.left .icon {
  right: 56px;
}

.timecontainer.right .icon {
  left: 56px;
}

.timecontainer .content {
  padding: 30px 90px 30px 30px;
  background: var(--entry-col);
  position: relative;
  border-radius: 0 500px 500px 0;
}

.timecontainer.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.timecontainer .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: var(--line-col);
}

.timecontainer .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .timecontainer {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .timecontainer.right {
    left: 0%;
  }

  .timecontainer.left::after, 
  .timecontainer.right::after {
    left: 82px;
  }

  .timecontainer.left::before,
  .timecontainer.right::before {
    left: 98px;
    border-color: transparent var(--line-col) transparent transparent;
  }

  .timecontainer.left .date,
  .timecontainer.right .date {
    right: auto;
    left: 0px;
  }

  .timecontainer.left .icon,
  .timecontainer.right .icon {
    right: auto;
    left: 146px;
  }

  .timecontainer.left .content,
  .timecontainer.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}